node_modules/
dist/
flyway/
.idea/
client.crt
client.key
client.pk8
log/
.env.local
yarn-error.log
.next/
backend-local.js
frontend-local.js
test/test-local.ts
backend-db-init-params-local.json
.env
coverage
.vscode